<form>
    <field>
        <id>dfm.settings.managerIps</id>        
        <label>IPs of DynFi Manager</label>
        <type>select_multiple</type>
        <style>tokenize</style>        
        <allownew>true</allownew>
        <help><![CDATA[IP addresses of DynFi Manager instance.]]></help>
    </field>
    <field>
        <id>dfm.settings.interfaces</id>
        <label>DynFi Manager binding</label>
        <type>select_multiple</type>
        <help><![CDATA[Interfaces bound to DynFi Manager.]]></help>
        <hint>Type or select interface.</hint>
    </field>
    <field>
        <id>dfm.settings.authorizedKeys</id>
        <label>Authorized keys</label>
        <type>text</type>
        <help><![CDATA[List of authorized SSH keys.]]></help>
    </field>
    <field>
        <id>dfm.settings.tcpPort</id>
        <label>TCP port</label>
        <type>text</type>
        <help><![CDATA[Port used by DynFi Manager.]]></help>
    </field>    
</form>
