<menu>
    <Services>
        <Dnsmasq VisibleName="Dnsmasq DNS" url="/services_dnsmasq.php" cssClass="fa fa-tags fa-fw" svgIcon="tag">
          <Hosts url="/services_dnsmasq_edit.php*" visibility="hidden"/>
          <Domains url="/services_dnsmasq_domainoverride_edit.php*" visibility="hidden"/>
          <LogFile visibility="off" url="/ui/diagnostics/log/core/dnsmasq"/>
        </Dnsmasq>
    </Services>
</menu>
