<form>
    <field>      
        <id>dfconag.settings.dfmHost</id>        
        <label>DynFi Manager host</label>
        <type>text</type>
    </field>
    <field>
        <id>dfconag.settings.dfmSshPort</id>
        <label>DynFi Manager SSH port</label>
        <type>text</type>
    </field>
</form>
