<menu>
    <Lobby VisibleName="Dashboard" order="10" cssClass="fa fa-laptop" svgIcon="view-column">
        <Dashboard order="10" url="/index.php" cssClass="fa fa-dashboard fa-fw" svgIcon="dashboard">
            <Args url="/index.php*" visibility="hidden" svgIcon="badge" />
            <Root url="/" visibility="hidden"/>
            <RootArgs url="/?*" visibility="hidden"/>
        </Dashboard>
    </Lobby>
    <Reporting order="15" cssClass="fa fa-area-chart" svgIcon="chart-pie">
        <Traffic order="1" url="/ui/diagnostics/traffic" cssClass="fa fa-line-chart fa-fw" svgIcon="inbox-full" VisibleName="Live Traffic" />
        <Settings order="10" url="/reporting_settings.php" cssClass="fa fa-cog fa-fw" svgIcon="cog" VisibleName="Metrics Settings" />
    </Reporting>
    <System order="20" cssClass="fa fa-server" svgIcon="computer-desktop">
        <Access order="20" cssClass="fa fa-users fa-fw" svgIcon="user-group">
            <Password VisibleName="My User" order="2" url="/system_usermanager_passwordmg.php" cssClass="fa fa-key fa-fw" svgIcon="key">
                <Edit url="/system_usermanager_passwordmg.php*" visibility="hidden"/>
            </Password>
            <Users order="10" url="/system_usermanager.php">                
                <All url="/system_usermanager.php*" visibility="hidden"/>
                <Privileges url="/system_usermanager_addprivs.php?user*" visibility="hidden"/>
            </Users>
            <Groups order="20" url="/system_groupmanager.php">
                <All url="/system_groupmanager.php*" visibility="hidden"/>
                <Privileges url="/system_usermanager_addprivs.php?group*" visibility="hidden"/>
            </Groups>
            <Servers order="30" url="/system_authservers.php">
                <Edit url="/system_authservers.php*" visibility="hidden"/>
            </Servers>
            <Tester order="40" url="/diag_authentication.php"/>
        </Access>
        <Configuration order="40" VisibleName="Firewall Config" cssClass="fa fa-history fa-fw" svgIcon="wrench">
            <Backups url="/diag_backup.php"/>
            <History url="/diag_confbak.php">
                <none url="/diag_confbak.php*" visibility="hidden"/>
            </History>
            <Defaults url="/diag_defaults.php"/>            
        </Configuration>
        <Firmware order="25" cssClass="fa fa-building-o fa-fw" svgIcon="download">
            <Status order="10" url="/ui/core/firmware#status"/>
            <Settings order="20" url="/ui/core/firmware#settings"/>
            <Changelog order="30" url="/ui/core/firmware#changelog"/>
            <Updates order="40" url="/ui/core/firmware#updates"/>
            <Plugins order="50" url="/ui/core/firmware#plugins"/>
            <Packages order="60" url="/ui/core/firmware#packages"/>
            <Reporter order="70" url="/crash_reporter.php"/>
        </Firmware>
        <Gateways order="50" cssClass="fa fa-location-arrow fa-fw" svgIcon="shuffle">
            <Single order="10" url="/system_gateways.php">
                <List url="/system_gateways.php*" visibility="hidden"/>
                <Edit url="/system_gateways_edit.php*" visibility="hidden"/>
            </Single>
            <Group order="20" url="/system_gateway_groups.php">
                <List url="/system_gateway_groups.php*" visibility="hidden"/>
                <Edit url="/system_gateway_groups_edit.php*" visibility="hidden"/>
            </Group>
            <LogFile visibility="off" url="/ui/diagnostics/log/core/gateways"/>
        </Gateways>
        <HighAvailability order="70" VisibleName="High Availability" url="/system_hasync.php" cssClass="fa fa-refresh fa-fw" svgIcon="duplicate">
          <Status visibility="off" url="/status_habackup.php"/>
        </HighAvailability>
        <Routes order="60" cssClass="fa fa-map-signs fa-fw" url="/ui/routes" svgIcon="directions">
          <LogFile visibility="off" url="/ui/diagnostics/log/core/routing"/>
        </Routes>
        <Settings order="10" cssClass="fa fa-cogs fa-fw" svgIcon="cog">
            <Administration url="/system_advanced_admin.php"/>
            <General url="/system_general.php">
                <Edit url="/system_general.php*" visibility="hidden"/>
            </General>
            <Logging url="/diag_logs_settings.php"/>
            <Miscellaneous url="/system_advanced_misc.php"/>
            <Tunables url="/system_advanced_sysctl.php">
                <Edit url="/system_advanced_sysctl.php*" visibility="hidden"/>
            </Tunables>
        </Settings>
        <Trust order="30" cssClass="fa fa-certificate fa-fw" svgIcon="thumbs-up">
            <Authorities url="/system_camanager.php">
                <Edit url="/system_camanager.php*" visibility="hidden"/>
            </Authorities>
            <Certificates url="/system_certmanager.php">
                <Edit url="/system_certmanager.php*" visibility="hidden"/>
            </Certificates>
            <Revocation url="/system_crlmanager.php">
                <Edit url="/system_crlmanager.php*" visibility="hidden"/>
            </Revocation>
        </Trust>
        <Wizard order="80" url="/wizard.php?xml=system" cssClass="fa fa-magic fa-fw" svgIcon="light-bulb" />  
        <LogFiles visibility="off" cssClass="fa fa-eye fa-fw" svgIcon="view-list">
            <Backend visibility="off" url="/ui/diagnostics/log/core/configd"/>
            <General visibility="off" url="/ui/diagnostics/log/core/system"/>
            <WebGUI visibility="off" url="/ui/diagnostics/log/core/lighttpd"/>
        </LogFiles>
        <Diagnostics order="90" ssClass="fa fa-medkit fa-fw" svgIcon="flashlight">
            <Services url="/status_services.php">
                <All url="/status_services.php?*" visibility="hidden"/>
            </Services>
        </Diagnostics>
    </System>
    <Interfaces order="30" cssClass="fa fa-sitemap" svgIcon="inbox">
        <Assignments order="900" url="/interfaces_assign.php" cssClass="fa fa-pencil fa-fw" svgIcon="inbox-check" />
        <Overview order="910" url="/status_interfaces.php" cssClass="fa fa-tasks fa-fw" svgIcon="inbox-full" />
        <Settings order="920" url="/system_advanced_network.php" cssClass="fa fa-cogs fa-fw" svgIcon="tuning" />
        <VIP order="930" VisibleName="Virtual IPs" url="/firewall_virtual_ip.php" cssClass="fa fa-clone fa-fw" svgIcon="cheveron-outline-down">
            <Edit url="/firewall_virtual_ip_edit.php*" visibility="hidden"/>
            <Status visibility="off" url="/carp_status.php">
                <All url="/carp_status.php*" visibility="off"/>
            </Status>
        </VIP>
        <Wireless order="940" url="/interfaces_wireless.php" cssClass="fa fa-wifi fa-fw" svgIcon="station">
            <Edit url="/interfaces_wireless_edit.php*" visibility="hidden"/>
            <LogFile visibility="off" VisibleName="Log File" url="/ui/diagnostics/log/core/wireless"/>
        </Wireless>
        <PPP order="950" VisibleName="Point-to-Point" url="/interfaces_ppps.php" cssClass="fa fa-tty fa-fw" svgIcon="dots-horizontal-double">
            <Edit url="/interfaces_ppps_edit.php*" visibility="hidden"/>
            <LogFile visibility="off" VisibleName="Log File" url="/ui/diagnostics/log/core/ppps"/>
        </PPP>
        <Types VisibleName="Other Types" order="960" cssClass="fa fa-archive fa-fw" svgIcon="dots-horizontal-triple">
            <Bridge url="/interfaces_bridge.php">
                <Edit url="/interfaces_bridge_edit.php*" visibility="hidden"/>
            </Bridge>
            <GIF order="40" url="/interfaces_gif.php">
                <Edit url="/interfaces_gif_edit.php*" visibility="hidden"/>
            </GIF>
            <GRE order="50" url="/interfaces_gre.php">
                <Edit url="/interfaces_gre_edit.php*" visibility="hidden"/>
            </GRE>
            <LAGG order="20" url="/interfaces_lagg.php">
                <Edit url="/interfaces_lagg_edit.php*" visibility="hidden"/>
            </LAGG>
            <VLAN order="10" url="/interfaces_vlan.php">
                <Edit url="/interfaces_vlan_edit.php*" visibility="hidden"/>
            </VLAN>
        </Types>
        <Diagnostics order="970" cssClass="fa fa-medkit fa-fw" svgIcon="stethoscope">
            <DNSLookup VisibleName="DNS Lookup" url="/diag_dns.php">
                <Edit url="/diag_dns.php*" visibility="hidden"/>
            </DNSLookup>
            <PacketCapture VisibleName="Packet Capture" url="/diag_packet_capture.php"/>
            <Ping url="/diag_ping.php"/>
            <TestPort VisibleName="Port Probe" url="/diag_testport.php"/>
            <Traceroute VisibleName="Trace Route" url="/diag_traceroute.php"/>
        </Diagnostics>
    </Interfaces>
    <Firewall order="40" cssClass="glyphicon glyphicon-fire" svgIcon="shield">
        <Aliases url="/ui/firewall/alias" cssClass="fa fa-list-alt fa-fw" svgIcon="link">
            <Edit url="/ui/firewall/alias/*" visibility="hidden"/>
        </Aliases>
        <Groups url="/interfaces_groups.php" cssClass="fa fa-sitemap fa-fw" svgIcon="network">
            <Edit url="/interfaces_groups_edit.php*" visibility="hidden"/>
        </Groups>
        <NAT cssClass="fa fa-exchange fa-fw" svgIcon="shuffle">
            <PortForward order="100" VisibleName="Port Forward" url="/firewall_nat.php">
                <Edit url="/firewall_nat_edit.php*" visibility="hidden"/>
            </PortForward>
            <OneToOne order="200" VisibleName="One-to-One" url="/firewall_nat_1to1.php">
                <Edit url="/firewall_nat_1to1_edit.php*" visibility="hidden"/>
            </OneToOne>
            <Outbound order="300" VisibleName="Outbound" url="/firewall_nat_out.php">
                <Edit url="/firewall_nat_out_edit.php*" visibility="hidden"/>
            </Outbound>
            <NPTv6 order="400" url="/firewall_nat_npt.php">
                <Edit url="/firewall_nat_npt_edit.php*" visibility="hidden"/>
            </NPTv6>
        </NAT>
        <Rules cssClass="fa fa-check fa-fw" svgIcon="target" />
        <Settings order="200" cssClass="fa fa-cogs fa-fw" svgIcon="wrench">
            <Schedules url="/firewall_schedule.php">
                <SchedulesEdit url="/firewall_schedule_edit.php*" visibility="hidden"/>
            </Schedules>
            <Normalization url="/firewall_scrub.php">
                <NormalizationEdit url="/firewall_scrub_edit.php*" visibility="hidden"/>
                <Normalization url="/firewall_scrub.php*" visibility="hidden"/>
            </Normalization>
            <Advanced url="/system_advanced_firewall.php"/>
        </Settings>
        <Diagnostics order="500" cssClass="fa fa-medkit fa-fw" svgIcon="folder-outline-add">
            <pfInfo order="30" url="/diag_pf_info.php" VisibleName="pfInfo"/>
            <pfTop order="40" url="/diag_system_pftop.php" VisibleName="pfTop"/>
            <pfTables order="50" url="/ui/firewall/alias_util/"/>
            <StatesDump order="70" VisibleName="States Dump" url="/diag_dump_states.php"/>
            <StatesReset order="80" VisibleName="States Reset" url="/diag_resetstate.php"/>
            <StatesSummary order="90" VisibleName="States Summary" url="/diag_states_summary.php"/>
        </Diagnostics>
        <LogFiles visibility="off" cssClass="fa fa-eye fa-fw" svgIcon="list">
            <Live visibility="off" url="/ui/diagnostics/firewall/log"/>
            <Overview visibility="off" url="/ui/diagnostics/firewall/stats"/>
            <Plain visibility="off" url="/ui/diagnostics/log/core/filter"/>
        </LogFiles>
    </Firewall>
    <Services order="60" cssClass="fa fa-cog" svgIcon="show-sidebar">
        <DHCPv4 cssClass="fa fa-bullseye fa-fw" svgIcon="share-alt">
            <Relay order="200" url="/services_dhcp_relay.php"/>
            <Leases visibility="off" url="/status_dhcp_leases.php">
                <Details url="/status_dhcp_leases.php?*" visibility="off"/>
            </Leases>
            <LogFile visibility="off" order="400" url="/ui/diagnostics/log/core/dhcpd"/>
        </DHCPv4>
        <DHCPv6  cssClass="fa fa-bullseye fa-fw" svgIcon="share-alt">    
            <Relay order="300" url="/services_dhcpv6_relay.php"/>
            <Leases visibility="off" url="/status_dhcpv6_leases.php">
              <Details url="/status_dhcpv6_leases.php?*" visibility="off"/>
            </Leases>
        </DHCPv6>
        <OpenDNS VisibleName="OpenDNS" url="/services_opendns.php" cssClass="fa fa-tags fa-fw" svgIcon="tag" />
        <RouterAdv VisibleName="Router Advertisements" cssClass="fa fa-bullseye fa-fw" />
    </Services>
    <VPN order="50" cssClass="fa fa-globe" svgIcon="lock-closed">
        <OpenVPN cssClass="fa fa-lock fa-fw" order="20" svgIcon="lock-closed">
            <Servers order="10" url="/vpn_openvpn_server.php">
                <Edit url="/vpn_openvpn_server.php?*" visibility="hidden"/>
                <Step url="/wizard.php?xml=openvpn*" visibility="hidden"/>
            </Servers>
            <Clients order="20" url="/vpn_openvpn_client.php">
                <Edit url="/vpn_openvpn_client.php?*" visibility="hidden"/>
            </Clients>
            <CSC order="30" VisibleName="Client Specific Overrides" url="/vpn_openvpn_csc.php">
                <Edit url="/vpn_openvpn_csc.php?*" visibility="hidden"/>
            </CSC>
            <ClientExport order="40" VisibleName="Client Export" url="/ui/openvpn/export">
                <Edit url="/ui/openvpn/export?*" visibility="hidden"/>
            </ClientExport>
            <Status visibility="off" url="/status_openvpn.php"/>
            <LogFile visibility="off" url="/ui/diagnostics/log/core/openvpn"/>
        </OpenVPN>
    </VPN>
    <Power order="90" cssClass="fa fa-plug" svgIcon="stand-by">
        <Reboot order="10" url="/ui/core/reboot" cssClass="fa fa-repeat fa-fw" svgIcon="refresh" />
        <PowerOff VisibleName="Power Off" order="20" url="/ui/core/halt" cssClass="fa fa-power-off fa-fw" svgIcon="stand-by" />
    </Power>
    <Help VisibleName="Support" order="100" cssClass="fa fa-support" svgIcon="buoy">
        <License order="100" url="/ui/core/license" cssClass="fa fa-balance-scale fa-fw" svgIcon="badge" />
        <Documentation order="10" url="https://dynfi.com/documentations/dynfi-firewall/" cssClass="fa fa-book" IsExternal="Y" svgIcon="document" />
        <Forum VisibleName="User Forum" order="20" url="https://dynfi.com/forum" cssClass="fa fa-ticket" IsExternal="Y" svgIcon="conversation" />
        <Support VisibleName="Commercial Support" order="30" url="https://dynfi.com/firewall/support" cssClass="fa fa-phone" IsExternal="Y" svgIcon="user-solid-square" />
    </Help>
</menu>
