<acl>
    <page-services-suricata>
        <name>Services: Suricata</name>
        <patterns>
            <pattern>ui/suricata/*</pattern>
            <pattern>api/suricata/*</pattern>
            <pattern>ui/diagnostics/log/core/suricata/*</pattern>
            <pattern>api/diagnostics/log/core/suricata/*</pattern>
        </patterns>
    </page-services-suricata>
</acl>
