<menu>
    <VPN>
      <WireGuard cssClass="fa fa-lock fa-fw" order="150" svgIcon="lock-closed">
          <Instances order="10" url="/ui/wireguard/general#instances"/>
          <Peers order="20" url="/ui/wireguard/general#peers"/>
          <PeerGenerator order="30" visibleName="Peer generator" url="/ui/wireguard/general#configbuilder"/>
          <Diagnostics order="40" url="/ui/wireguard/diagnostics/"/>
          <LogFile visibility="off" order="70" VisibleName="Log File" url="/ui/diagnostics/log/core/wireguard"/>
      </WireGuard>
    </VPN>
</menu>
