<menu>
    <Services>
        <ClamAV order="3" cssClass="fa fa-stethoscope" url="/ui/clamav/general/index" svgIcon="stethoscope">
            <LogFile visibility="off" VisibleName="Log / Clamd" order="20" url="/ui/diagnostics/log/clamav/clamd"/>
            <LogFile visibility="off" VisibleName="Log / Freshclam" order="30" url="/ui/diagnostics/log/clamav/freshclam"/>
        </ClamAV>
    </Services>
</menu>
