<menu>
    <Services>
        <NTP VisibleName="Network Time" cssClass="fa fa-clock-o fa-fw" svgIcon="time">
            <General order="10" url="/services_ntpd.php"/>
            <GPS order="20" url="/services_ntpd_gps.php"/>
            <PPS order="30" url="/services_ntpd_pps.php"/>
        </NTP>
    </Services>
</menu>
